<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>Security in database</title>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->

<!--    <div sec:authoriz="isAuthenticated">-->
<!--        Welcome  <b><span> Username </span> </b>-->
<!--        <i><span sec:authentication = "principal.getAuthorities()">Roles</span> </i>-->
<!--    </div>-->



<!--    <tr>-->
<!--        <td>-->
<!--            <a th:href="@{/cars/}">Car page</a>-->
<!--            <br>-->
<!--            <a th:href="@{/customer/}">Customer page</a>-->
<!--        </td>-->
<!--    </tr>-->

<!--</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->